@using PagedList.Mvc;
@using VACTShop.Models;
@model PagedList.PagedList<SANPHAM>

@{
    ViewBag.Title = "SapXepSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" integrity="sha512-ZKX+BvQihRJPA8CROKBhDNvoc2aDMOdAlcm7TUQY+35XYtrd3yh95QOOhsPDQY9QnKE0Wqag9y38OIgEvb88cA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<section class="ListCard">
    <div class="container ListCard__content">
        <h2 class="text-center mb-4">@ViewBag.SapXepSanPham</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4  g-4">
            @foreach (var sanPham in Model)
            {
                <div class="col">
                    <div class="card mb-3 h-100">
                        <a href="~/Asset/img/@sanPham.AnhBia" data-lightbox="roadtrip">
                            <img src="~/Asset/img/@sanPham.AnhBia" class="card-img-top" alt="Ảnh sản phẩm">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">@sanPham.TenSP</h5>
                            <p class="card-text">
                                @String.Format("{0:0,0}", sanPham.GiaBan) đ
                            </p>
                            <div class="d-flex">
                                <a href="@Url.Action("XemChiTietSanPham", "Home", new { id = sanPham.MaSP })" class="btn btn-primary me-3 me-md-1 me-sm-2 me-lg-3">Chi tiết</a>
                                @if (Session["TaiKhoan"] == null)
                                {
                                    <a href="@Url.Action("DangNhap", "NguoiDung")" class="btn btn-warning rounded-3">Bạn Cần Đăng Nhập</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("ThemGioHang", "GioHang", new { masp = sanPham.MaSP, strUrl = Request.Url.ToString()})" class="btn btn-warning rounded-3">Thêm vào giỏ</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    
</section>
<div class="page">
    @Html.PagedListPager(Model, page => Url.Action("SapXepSanPham", new { page = page, @KieuSapXep = Session["KieuSapXep"] }))
</div>
<style>
    .pagination {
        position: relative;
        background: #fff;
        display: flex;
        padding: 10px 20px;
        border-radius: 50px;
        box-shadow: 0 5px 15px rgba(0,0,0,.2);
        text-align: center;
        justify-content: center
    }

        .pagination > li {
            margin: 0 5px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
        }

            .pagination > li > a {
                color: #777;
                font-weight: 600;
                border-radius: 50%;
                display: block;
            }

            .pagination > li:hover a,
            .pagination > li.active a {
                background: #333;
                color: #fff
            }
    .page {
        text-align: center;
        justify-content: center;
        display: inline;
    }
    @@media(max-width: 430px) {
        table {
            font-size: 10px;
        }

        .pagination {
            width: 95%;
            padding: 5px 20px;
            margin-left: 15px;
        }
    }

    @@media(max-width: 320px) {
        table {
            font-size: 8px;
        }

        .pagination {
            width: 95%;
            padding: 5px 20px;
            margin-left: 15px;
            font-size: 10px;
        }
    }
</style>



<script src="~/Scripts/jquery-3.5.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js" integrity="sha512-k2GFCTbp9rQU412BStrcD/rlwv1PYec9SNrkbQlo6RZCf75l6KcC3UwDY8H5n5hl4v77IDtIPwOk9Dqjs/mMBQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

