@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Cửa Hàng Chúng Tôi</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="@Url.Action("Index","Home")">Trang Chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Cửa Hàng</p>
        </div>
    </div>
</div>
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">
            <!-- Thương hiệu -->
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Thương Hiệu</h5>
                <form>
                    @Html.Action("HienThiThuongHieu", "Home")

                </form>
                <div class="dropdown Login nav-item nav-link">
                    <button class="font-weight-semi-bold mb-4" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Sắp xếp theo giá tiền
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("SapXepSanPham","Home",new { kieuSapXep = "tangdan"})">Giá tăng Dần</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("SapXepSanPham","Home",new { kieuSapXep = "giamdan"})">Giá Giảm Dàn</a></li>
                    </ul>
                </div>
            </div>
            <!-- Kết thúc thương hiệu -->
        </div>
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search by name">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-transparent text-primary">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                @RenderBody()
                
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>


