<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>VACT Shop</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/Asset/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Asset/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Asset/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">Theo Dõi Đơn Hàng</a>
                   
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-dark pl-2" href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">VACT</span>Shopper</h1>
                </a>
            </div>

            @using (Html.BeginForm("KetQuaTimKiem", "Home", FormMethod.Post))
            {
                <div class="col-lg-6 col-6">
                    <form action="">
                        <div class="input-group">
                            <input type="search" name="txtTimKiem" class="form-control" placeholder="Tìm Kiếm..." required autocomplete="off">
                            <div class="input-group-append">
                                <span class="input-group-text text-primary">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            }


            <div class="col-lg-3 col-6 text-right">
                
                @Html.Action("SoLuongGioHang", "GioHang")
                
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Danh Mục</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                        @Html.Action("HienThiLoaiSanPham", "Home")
                    </div>

                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">VACT</span>Shopper</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">

                            @if (Session["TaiKhoan"] == null)
                            {
                                <a href="@Url.Action("Index","Home")" class="nav-item nav-link">Trang Chủ</a>
                                <a href="@Url.Action("Shop","Home")" class="nav-item nav-link">Cửa Hàng</a>
                                <a href="@Url.Action("About","Home")" class="nav-item nav-link">Về Chúng Tôi</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Index","Home")" class="nav-item nav-link">Trang Chủ</a>
                                <a href="@Url.Action("Shop","Home")" class="nav-item nav-link">Cửa Hàng</a>
                                <a href="@Url.Action("About","Home")" class="nav-item nav-link">Về Chúng Tôi</a>
                                <a href="@Url.Action("Contact","Home")" class="nav-item nav-link">Hỗ Trợ</a>
                            }
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            @if (Session["User"] == null)
                            {
                                <a href="@Url.Action("DangNhap", "NguoiDung")" class="nav-item nav-link">Đăng Nhập</a>
                                <a href="@Url.Action("Dangky", "NguoiDung")" class="nav-item nav-link">Đăng Ký</a>
                            }
                            else
                            {
                            <div class="dropdown Login nav-item nav-link">
                                <a id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    Hi @Session["User"]
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("ThongTinKhachHang", "NguoiDung")">Hồ sơ khách hang</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("DangXuat", "NguoiDung")">Đăng Xuất</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("History","History")">Lich Sử</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("ChangePassword", "NguoiDung")">Đổi mật khẩu</a></li>
                                </ul>
                            </div>

                            }

                        </div>
                    </div>
                </nav>
                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: 410px;">
                            <img class="img-fluid" src="~/Asset/img/korea_bg1.jpg" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">Thời trang cho mọi người</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">FASHION FOR ALL</h3>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="~/Asset/img/korea_bg2.jpg" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">Ý thức về phong cách</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">A SENSE OF STYLE</h3>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="~/Asset/img/bg3.jpg" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">Cuộc cách mạng phong cách</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">STYLE REVOLUTION</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    @RenderBody()
    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">VACT</span>Shopper</h1>
                </a>
                <p>Đây là website được xây dựng bằng ASP.NET Web Application(.NET Framework) theo mô hình MVC đầu tiên của nhóm 20. Nhóm 20 gồm có 4 thành viên: Đào Hồ Anh, Nguyễn Tấn Chọn, Lê Ngọc Huế Trân và Bùi Đức Vinh.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>475A Điện Biên Phủ, Phường 25, Bình Thạnh, Thành phố Hồ Chí Minh</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>VACT.Shop@hutech.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
           
            <div class="api">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31355.518766456076!2d106.67132159884723!3d10.777585201569977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3a01db8d71%3A0xd9001ceeb9c61bec!2sShop%20Th%E1%BB%9Di%20Trang%20128!5e0!3m2!1svi!2s!4v1627321875384!5m2!1svi!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="bottom-foot">
                <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fnhonhungco%2F&width=450&layout=standard&action=like&size=large&share=true&height=35&appId" 
                        width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
                </iframe>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnhonhungco%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" 
                        width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
                </iframe>
            </div>
        </div>
       
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top" style=" margin-right: 5% !important;"><i class="fa fa-angle-double-up"></i></a>
 

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Asset/lib/easing/easing.min.js"></script>
    <script src="~/Asset/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Asset/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Asset/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Asset/js/main.js"></script>

    <!------------------------------------------------- Messenger Plugin chat Code ----------------------------------------------------------->
    <div id="fb-root"style="background-color="></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat" style="margin-right=7%">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "101320505933525");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v14.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!------------------------------------------------- Kết Thúc Messenger Plugin chat Code --------------------------------------------------->

</body>

</html>