@using VACTShop.Models
@model List<GioHang>
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Thanh Toán</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="@Url.Action("Index","Home")">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Tiến Hành Đặt Hàng</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    @{ 
        KHACHHANG kh = (KHACHHANG)Session["Taikhoan"];
    }
    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Thông Tin Khách Hàng</h4>
                    @*Cách 1:*@
                    @*<table>
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true)
                            <tr style="height:40px">
                                <td>Họ Tên Khách Hàng:</td>
                                <td style="font-weight:bold">@kh.HoTenKH</td>
                            </tr>
                            <tr style="height:40px">
                                <td>Ngày Sinh:</td>
                                <td style="font-weight:bold">@kh.NgaySinhKH</td>
                            </tr>
                        }
                    </table>*@

                    @*Cách 2:*@
                    @using (Html.BeginForm())
                    {
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Họ Tên Khách Hàng</label>
                        <input class="form-control" type="text" placeholder="@kh.HoTenKH">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Ngày Sinh</label>
                        <input class="form-control" type="text" placeholder="@kh.NgaySinhKH">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>E-mail</label>
                        <input class="form-control" type="text" placeholder="@kh.EmailKH">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Địa Chỉ Khách Hàng</label>
                        <input class="form-control" type="text" placeholder="@kh.DiaChiKH">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Số Điện Thoại</label>
                        <input class="form-control" type="text" placeholder="@kh.DienThoaiKH">
                    </div>
                   
                    <div class="col-md-6 form-group">
                        
                        <label>Đơn vị vận chuyển</label>
                            <td>
                                <div class="col-md-10">
                                    @Html.DropDownList("VC")
                                </div>
                            </td>
                       
                    </div>
                        <div class="col-md-6 form-group">
                            <a class="btn btn-sm btn-primary" href="@Url.Action("GioHang","GioHang")">Quay Về Giỏ Hàng</a>
                        </div>
                    </div>
                    }

                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Thông Tin Đơn Hàng</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Sản Phẩm</h5>
                        @foreach (var item in Model)
                        {
                            using (Html.BeginForm("CapNhatGioHang", "GioHang", new { id = item.masp }))
                            {
                                <div class="d-flex justify-content-between">
                                    <p>@item.tensp x @item.soluong</p>
                                    <p>@item.giaban VNĐ</p>
                                </div>
                            }
                        }
                        
                        
                       
                        
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Tổng</h5>
                            <h5 class="font-weight-bold">@ViewBag.TongTien VNĐ</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Phương Thức Thanh Toán</h4>
                    </div>
                    @*<div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Direct Check</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div>
                        </div>
                    </div>*@
                    <div class="card-footer border-secondary bg-transparent">
                        @using (Html.BeginForm())
                        { 
                            <input type="submit" class="btn btn-block btn-primary my-3 py-3" value="Thanh Toán Khi Nhận Hàng" />
                            <a class="btn btn-block btn-primary my-3 py-3" href="@Url.Action("Payment","GioHang")">Thanh Toán Bằng Ví Momo</a>
                            <a class="btn btn-block btn-primary my-3 py-3" href="@Url.Action("PaymentVNPAY","GioHang")"><img  src="~/Asset/img/cart.jpg" width="7%"/>Thanh Toán Bằng VNpay</a>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->

