@using VACTShop.Models
@model List<GioHang>
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Thanh Toán</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="@Url.Action("Index","Home")">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Tiến Hành Đặt Hàng</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    @{ 
        KHACHHANG kh = (KHACHHANG)Session["Taikhoan"];
    }
    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Thông Tin Khách Hàng</h4>
                   
                    @using (Html.BeginForm())
                    {
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Họ Tên Khách Hàng</label>
                        <input class="form-control" type="text" placeholder="@kh.HoTenKH" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Ngày Sinh</label>
                        <input class="form-control" type="text" placeholder="@kh.NgaySinhKH"disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>E-mail</label>
                        <input class="form-control" type="text" placeholder="@kh.EmailKH"disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Địa Chỉ Khách Hàng</label>
                        <input class="form-control" type="text" placeholder="@kh.DiaChiKH"disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Số Điện Thoại</label>
                        <input class="form-control" type="text" placeholder="@kh.DienThoaiKH"disabled>
                    </div>
                   
                    <div class="col-md-6 form-group">
                        
                        <label>Đơn vị vận chuyển</label>
                            <td>
                                <div class="col-md-10">
                                    @Html.DropDownList("VC")
                                </div>
                            </td>
                       
                    </div>
                        <div class="col-md-6 form-group">
                            <a class="btn btn-sm btn-primary" href="@Url.Action("GioHang","GioHang")">Quay Về Giỏ Hàng</a>
                        </div>
                    </div>
                    }

                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Thông Tin Đơn Hàng</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Sản Phẩm</h5>
                        @foreach (var item in Model)
                        {
                            using (Html.BeginForm("CapNhatGioHang", "GioHang", new { id = item.masp }))
                            {
                                <div class="d-flex justify-content-between">
                                    <p>@item.tensp x @item.soluong</p>
                                    <p>@item.giaban VNĐ</p>
                                </div>
                            }
                        }
                        
                        
                       
                        
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Tổng</h5>
                            <h5 class="font-weight-bold">@ViewBag.TongTien VNĐ</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Phương Thức Thanh Toán</h4>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        @using (Html.BeginForm())
                        { 
                            <input type="submit" class="btn btn-block btn-primary my-3 py-3 thanhtoan" value="Thanh Toán Khi Nhận Hàng"/>
                            <a class="btn btn-block btn-primary my-3 py-3" href="@Url.Action("Payment","GioHang")"><img src="~/Asset/img/logomomo.png" width="10%"/>Thanh Toán Bằng Ví Momo</a>
                            <a class="btn btn-block btn-primary my-3 py-3" href="@Url.Action("PaymentVNPAY","GioHang")"><img src="~/Asset/img/logovnpay.png" width="15%"/>Thanh Toán Bằng VNpay</a>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
<style>
    .thanhtoan {
        background-image: url(https://d29fhpw069ctt2.cloudfront.net/icon/image/73376/preview.svg);
        background-repeat:no-repeat;
    }
</style>
    <!-- Checkout End -->

