@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Layout/_LayoutDangNhap.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi mật Khẩu</title>
    <link rel="stylesheet" href="~/Asset/css/dangkydangnhap.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    @using (Html.BeginForm())
    {

        <form action="#" method="post">
            @Html.ValidationSummary(true)
            <section>
                <!--Bắt Đầu Phần Hình Ảnh-->
                <div class="img-bg">                 
                    <img src="~/Asset/img/Password Reset.jpg" alt="Hình Ảnh Minh Họa">
                </div>
                <!--Kết Thúc Phần Hình Ảnh-->
                <!--Bắt Đầu Phần Nội Dung-->
                <div class="noi-dung">
                    <div class="form">
                        <h2>Trang Đổi Mật Khẩu</h2>
                        <form action="">                        
                            <div class="input-form">
                                <span>Mật Khẩu Cũ</span>
                                <input type="text" name="passold">
                                @ViewData["1"]
                            </div>
                            <div class="input-form">
                                <span>Nhập Mật Khẩu Mới</span>
                                <input type="password" name="passnew">
                            </div>
                            <div class="input-form">
                                <span>Nhập Lại Mật Khẩu Mới</span>
                                <input type="password" name="passagain">
                                @ViewData["3"]
                            </div>
                            <div class="input-form">
                                <input type="submit" value="Đổi Mật Khẩu">
                            </div>
                            <div class="input-form">
                                <p>Bạn Chưa Có Tài Khoản? <a href="@Url.Action("DangKy", "NguoiDung")">Đăng Ký</a></p>
                                <p>Về <a href="@Url.Action("Index", "Home")">Trang Chủ</a> </p>
                            </div>
                        </form>
                    </div>
                </div>
                <!--Kết Thúc Phần Nội Dung-->
            </section>
        </form>
    }
</body>
</html>
