@model IEnumerable<VACTShop.Models.CHITIETDONDATHANG>
@{
    ViewBag.Title = "HistoryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xl history-container py-5 px-5" style="margin-top:10%; height: 500px">
    <div class="table-content table-responsive">
        <h2 class="mb-5">Lịch sử mua hàng</h2>
        <table class="table text-center">
            <thead class="border-bottom text-left">
                <tr>
                    <th>
                        @Html.DisplayName("Tên Người Mua")
                    </th>
                    <th>
                        @Html.DisplayName("Sản Phẩm")
                    </th>
                    <th>
                        @Html.DisplayName("Ảnh")
                    </th>
                    <th>
                        @Html.DisplayName("Số Lượng")
                    </th>
                    <th>
                        @Html.DisplayName("Đơn Giá")
                    </th>
                </tr>
            </thead>
            <tbody class="text-left">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DONDATHANG.KHACHHANG.HoTenKH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SANPHAM.TenSP)
                        </td>
                        <td>
                            <img src="~/Asset/img/@Html.DisplayFor(modelItem => item.SANPHAM.AnhBia)" alt="Alternate Text" style="width:75px;" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoLuong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DonGia)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="space" style="display:flex;justify-content:space-around">
            <a class="btn btn-danger" href="@Url.Action("Index","Home")" style=" text-decoration: none;">TRỞ VỀ</a>
        </div>
    </div>
</div>
